@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5 {
    font-family: 'Yeseva One';
  }
  p {
    font-family: 'Ubuntu';
  }
}

/* ----- Image Modal ----- */
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
    z-index: 30;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.modal img {
    height: 90vh;
}

.close {
    color: rgba(255, 255, 255, 0.96);
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 40;
}

.close:hover {
    color: rgb(255, 255, 255);
}

.test {
  color: white;
}

/* Back to top button */
#btt {
  display: none;
  position: sticky;
  bottom: 20px;
  left: 1420px;
  z-index: 99;
}